<div class="container">

  <h2>Total : {{ total }}</h2>

  <app-counter value="0" (increase)="onIncrement($event)" (decrease)="onDecrement($event)"></app-counter>
  <app-counter value="0" (increase)="onIncrement($event)" (decrease)="onDecrement($event)"></app-counter>
  <app-counter value="0" (increase)="onIncrement($event)" (decrease)="onDecrement($event)"></app-counter>
  <app-counter value="0" (increase)="onIncrement($event)" (decrease)="onDecrement($event)"></app-counter>
  <app-counter (increase)="onIncrement($event)" (decrease)="onDecrement($event)"></app-counter>

  <!--

    On va créer un composant Counter.
    Ce composant affichera une valeur qui pourra être initialisée dans un attribut (value).
    Avant la valeur, on aura un bouton "-" (Au clic, la valeur diminue)
    Après la valeur, on aura un bouton "+" (Au clic, la valeur augmente)
    
    La valeur devra être bloquée entre 0 et 12.
  -->
</div>
