<div class="container mt-5">
  <app-pizza [pizza]="selectedPizza"></app-pizza>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3" *ngFor="let pizza of pizzaList">
      <div [class.selected]="pizza === selectedPizza"
            class="card"
            (click)="onSelect(pizza)">
        <img class="card-img-top" [src]="'assets/' + pizza.image" [alt]="pizza.name">
        <div class="card-body">
          <h4>{{ pizza.name }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
